@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat+Alternates:wght@300;400;500;600;700;800;900&family=Montserrat:wght@300;400;500;600;700;800;900&family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900&family=PT+Sans+Narrow&family=Rethink+Sans:wght@400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    font-family: 'Rethink Sans';
}

body {
    margin: 0;
    padding: 0;
}

.learn {
    font-family: 'Nunito Sans';
}



/* Define the scrollbar styles for WebKit browsers (Chrome, Safari) */
.trick::-webkit-scrollbar {
    width: 12px;
  }
  
  .trick::-webkit-scrollbar-thumb {
    background-color: #03045e; /* Color of the thumb */
    border-radius: 8px;
  }
  
  .trick::-webkit-scrollbar-track {
    background-color: #03045e; /* Color of the track */
  }
  
  /* Define the scrollbar styles for Firefox */
  .trick {
    scrollbar-width: thin;
    scrollbar-color: #ffffff #03045e; /* thumb and track color */
  }
  
  .trick:hover {
    scrollbar-color: #ffffff #03045e; /* change colors on hover */
  }



  /* DARK MODE SCROLLBAR STYLES */
.dark .trick::-webkit-scrollbar-thumb {
    background-color: #ffffff; /* Color of the thumb in dark mode */
  }
  
  .dark .trick::-webkit-scrollbar-track {
    background-color: #ffffff; /* Color of the track in dark mode */
  }
  
  .dark .trick {
    scrollbar-color: #03045e #ffffff; /* thumb and track color in dark mode */
  }
  
  .dark .trick:hover {
    scrollbar-color: #03045e #ffffff; /* change colors on hover in dark mode */
  }
  